/*ceo sajt*/
body{
    background: rgb(134,127,255);
    background: linear-gradient(177deg, rgba(134,127,255,1) 0%, rgba(143,143,227,1) 10%, rgba(96,173,189,1) 100%);
    height: 100vh;
}

/*glavni naslov, a moze i za tekst tipa "rezultati analize fajlova"*/
.heading{
    text-align: center;
    font-family: serif, Georgia;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: black;
}

/*textbox za rez*/
button{
    background-color: rgb(221, 210, 210);
    border: 4px solid dimgrey;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 40px;
    text-align: center;
    font-family: sans-serif, Arial;
    text-decoration-color: black;
    font-size: large;
    font-weight: bold;
    transition: transform 0.3s ease;
} 
  /* Style form inputs and textarea */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid dimgrey;
    border-radius: 5px;
    box-sizing: border-box;
  }
button:hover {
    background-color: #61acfc;
    transform: scale(1.2);
}